@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&display=swap');

body {
    background-color: #fcebb6;
    color: #221811;
    font-family: Tahoma, Arial, sans-serif;
}

header {
    background-color: #d2b48c;
    color: #8C3826;
    text-align: center;
    font-family: "Domine", serif;
}

h1 {
    line-height: 200%;
}

h2 {
    color: #8C3826;
}

nav {
    text-align: center;
    font-weight: bold;
}

footer {
    background-color: #d2b48c;
    font-size: .60em;
    font-style: italic;
    text-align: center;
}

#wrapper {
    width: 80%;
    background-color: #fefaeb;
    margin-right: auto;
    margin-left: auto;
}