@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&display=swap');

body {
	background-color: #FCEBB6;
	background-image: url(images/fadedroad50.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	color: #221811;
	font-family: Tahoma, Arial, sans-serif;
}

header {
	background-color: #D2B48C;
	color: #8C3826;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}

h1 {
    line-height: 200%;
}

h2 {
    color: #8C3826;
}

h3 {
	color: #8C3826;
	background-color: #D2B48C;
}

nav {
    text-align: center;
    font-weight: bold;
}

footer {
	background-color: #D2B48C;
	font-size: .60em;
	font-style: italic;
	text-align: center;
	padding-bottom: 1em;
	border-top: 2px solid #8C3826;
}

#wrapper {
	background-color: #FEFAEB;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	min-width: 900px;
	max-width: 1280px;
	box-shadow: 3px 3px 3px #676767;
}

#hero {
    height: 300px;
    background-image: url(images/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

img {
    border-style: none;
    max-width: 100%;
    height: auto;
}